$bg_dark-1: #29292c;
$bg_dark-2: #2b2b31;
$bg_filter: #332a30;
$bg_loader: #000000d8;
$color_btn: linear-gradient(
  90deg,
  hsla(351, 100%, 67%, 1) 0%,
  hsla(334, 100%, 67%, 1) 100%
);
$color_hover: rgba(252, 107, 175, 0.486);
$color_pink: #d74e8f;
$color_warning: rgb(245, 10, 10);
$text_color_primary: #ffffff;
$text_color_secondary: #c7c7c7ab;
